<html>
    <head>
        <h1>Sparring Counter</h1>
        <title>Sparring Counter</title>
    <style>
        .redDiv {
            background-color: red;
            margin: left;
            width: 45%;
            height: 30%;
            padding: 10px;
            float: left;
            font-size: 50px;
        }
        .blueDiv {
            background-color: blue;
            margin: right;
            width: 45%;
            height: 30%;
            padding: 10px;
            float: right;
            color: white;
            font-size: 50px;
        }
    </style>
    </head>
    <body>
        <div class="redDiv">Red player: <span id="redName"></span><br><span id="redDisplay" style="font-size:100px"></span></div>
        <div class='blueDiv'>Blue player: <span id="blueName"></span><br><span id="blueDisplay" style="font-size:100px"></span></div>
        <form action="{{ url_for('counterView') }}">
            <button value = "Reset" onclick="resetPoints()" style="width:100px; height:50px; margin:auto; position:absolute; bottom:10%">Reset</button>
        <script type="text/javascript">
            if (localStorage.getItem("redPoints") == null) {
                localStorage.setItem("redPoints", "0");
                localStorage.setItem("bluePoints", "0");
            }
            function display() {
                fetch('/data', {method:"GET"})
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        if(data.red) {
                            localStorage.setItem("redPoints", +localStorage.getItem("redPoints") + 1);
                        } else if(data.blue) {
                            localStorage.setItem("bluePoints", +localStorage.getItem("bluePoints") + 1);
                        }
                        if(data.red || data.blue) {
                            fetch('/reset', {method:"POST"})
                        }
                    });
                document.getElementById("redDisplay").innerHTML = localStorage.getItem("redPoints");
                document.getElementById("blueDisplay").innerHTML = localStorage.getItem("bluePoints");
            }
            function resetPoints() { 
                localStorage.clear();
                localStorage.setItem("redPoints", "0");
                localStorage.setItem("bluePoints", "0");
                display();
            }
            setInterval(display, 500);
            fetch('/names', {method:"GET"})
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    document.getElementById("redName").innerHTML = data.redName;
                    document.getElementById("blueName").innerHTML = data.blueName;
                });
        </script>
    </body> 
</html>